<?xml version="1.0"?>
<configuration>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  
<connectionStrings>
  <add name="SubscriptionStorage" providerName="System.Data.SqlClient"
    connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Sample.Subscriptions;Integrated Security=SSPI;" />
  <add name="EventStore" providerName="System.Data.SqlClient"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Sample.EventStore;Integrated Security=SSPI;" />
</connectionStrings>

</configuration>